
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        https://github.com/llcfromhell/cursos-alura-desenvolvimento-web-asp-net-mvc-5

        @DateTime.Now
    </div>
</body>
</html>
