<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        
        <table class="table table-hover table-striped">

            <tr>
                <th>
                    ID
                </th>

                <th>
                    Nome
                </th>

                <th>
                    Descricao
                </th>

            </tr>

            @foreach (var categoria in ViewBag.categorias)
            {

                <tr>
                    <td>@categoria.Id</td>
                    <td>@categoria.Nome</td>
                    <td>@categoria.Descricao</td>
                </tr>

            }

        </table>
         
    </div>
</body>
</html>
